.vagrant
.bundle
bin
Berksfile.lock
Gemfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbooks
rel/oc_bifrost
bifrost.plt
deps
*.beam
.eunit
ebin
erl_crash.dump
apps/bifrost/src/bql_parser.erl
apps/bifrost/src/bql_lexer.erl
